/* Importing google font  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.text-shpere {
    position: relative;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Raleway';
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 16px;
}

.tagcloud--item {
    color: #a9e2f3;
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: #7dcbae;
}